<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div>
    <!--    <h4>Sign Up</h4>-->
    <a th:href="@{/logout}"><button class = "btn btn-primary float-right">Log Out</button></a>
    <!-- Assuming '/signup' is the endpoint for the signup page -->
</div>
<div class="container mt-5 p-4">
    <h2>User Dashboard</h2>

    <!-- Table to display previous video data -->
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>URL</th>
            <th>Video Id</th>
        </tr>
        </thead>
        <tbody>
        <!-- Sample data, you can replace this with dynamic data -->
        <tr th:each = "video : ${videoList}">
            <td th:text = "${video.title}">Title</td>
            <td th:text = "${video.url}">URL</td>
            <td th:text = "${video.videoId}">URL</td>
        </tr>
        </tbody>
    </table>

    <!-- Button to add a new video -->
    <a href="/user/addVideo" class="btn btn-primary">Add New Video</a>
    <a href="/user/userHome" class="btn btn-primary float-right">Return Home Page</a>
</div>
</body>
</html>
