<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div>
    <a th:href="@{/logout}"><button class = "btn btn-primary float-right">Log Out</button></a>
</div>
<div class="container mt-5 p-4">
    <h2>User Dashboard</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>URL</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "video : ${videoList}">
            <td th:text = "${video.title}">Title</td>
            <td th:text = "${video.url}">URL</td>
            <td>
                <a th:href="@{${'/user/edit/'+video.id}}" class="btn btn-danger">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/user/addVideo" class="btn btn-primary">Add New Video</a>
    <a href="/user/userHome" class="btn btn-primary float-right">Return Home Page</a>
</div>
</body>
</html>
