<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Video List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .ytplayer
        {
            pointer-events: none;
        }
    </style>
</head>
<body>
<div class="d-flex justify-content-between">
    <div>
        <a th:href="@{/user/userDashboard}"><button class = "btn btn-primary m-1">User Dashboard</button></a>
    </div>
    <div>
        <a th:href="@{/logout}"><button class = "btn btn-primary m-1">Log Out</button></a>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center flex-column flex-wrap">
    <h5>Video List</h5>
    <div th:each="video : ${videoList}" class="m-3">
        <h6 th:text="${video.title}"></h6>
        <div class="video-container">
            <iframe class = "ytplayer" width="1000" height="425" th:src="@{${'https://www.youtube.com/embed/'+video.videoId}}" frameborder="0" allowfullscreen></iframe>
        </div>
        <a th:href="@{${'/user/videoDetails/'+video.videoId+'/'+video.id}}" class="btn btn-primary float-right">Video Details</a>
    </div>

</div>
</body>
</html>
