<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Video Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<form>
    <div class="row float-right mx-2 mt-2">
        <div>
            <a href="/user/userHome" class="btn btn-primary">Return Home Page</a>
        </div>
    </div>

    <div class="row mx-1">
        <div>
            <h5 th:text="${video.title}" class="mx-2">Video Title</h5>
            <div class="video-container m-3">
                <iframe width="700" height="315" th:src="@{${'https://www.youtube.com/embed/'+video.videoId+'?autoplay=1'}}" frameborder="0" allowfullscreen allow="autoplay"></iframe>
            </div>
        </div>
    </div>

    <div class="row mx-1">
        <h6 class="mx-1">View Count:</h6>
        <h4><p th:text="${video.viewCount}"></p></h4>
    </div>

    <div class="row mx-1">
        <div class="col">
            <form id="likeForm" th:action="@{${'/user/likeOrDislike/'+video.id+'/LIKE'}}">
                <button type="button" class="btn btn-primary click" onclick="likeVideo()" col="1">Like</button>
                <p id="likeCount" th:text="${video.likeCount}"></p>
            </form>
        </div>
        <div class="col">
            <form id="dislikeForm" th:action="@{${'/user/likeOrDislike/'+video.id+'/DISLIKE'}}">
                <button type="button" class="btn btn-danger click" onclick="dislikeVideo()">Dislike</button>
                <p id="dislikeCount" th:text="${video.dislikeCount}"></p>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="m-5 col">
            <form th:action="@{${'/user/likedUsers/'+video.videoId}}">
                <button type="button" class="btn btn-secondary click" onclick="findingLikedUsers()">Liked User List</button>
                <ul id="likedUsers">

                </ul>
            </form>
        </div>

        <div class="m-5 col">
            <form th:action="@{${'/user/dislikedUsers/'+video.videoId}}">
                <button type="button" class="btn btn-secondary click" onclick="findingDislikedUsers()">DisLiked User List</button>
                <ul id="dislikedUsers">

                </ul>
            </form>
        </div>
    </div>
</form>

<script th:inline="javascript">
    function likeVideo() {
    var videoId = /*[[${video.id}]]*/ '';
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/user/likeOrDislike/' + videoId + '/LIKE', true);
    xhr.onload = function () {
        if (xhr.status === 200) {
            var likeOrDislikeCount = JSON.parse(xhr.responseText);
            document.getElementById('likeCount').innerText = likeOrDislikeCount[0];
            document.getElementById('dislikeCount').innerText = likeOrDislikeCount[1];
            document.getElementById('likedUsers').style.display = 'none';
            document.getElementById('dislikedUsers').style.display = 'none';
        }
    };
    xhr.send();
}


    function dislikeVideo() {
    var videoId = /*[[${video.id}]]*/ '';
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/user/likeOrDislike/' + videoId + '/DISLIKE', true);
    xhr.onload = function () {
        if (xhr.status === 200) {
            var likeOrDislikeCount = JSON.parse(xhr.responseText);
            document.getElementById('likeCount').innerText = likeOrDislikeCount[0];
            document.getElementById('dislikeCount').innerText = likeOrDislikeCount[1];
            document.getElementById('likedUsers').style.display = 'none';
            document.getElementById('dislikedUsers').style.display = 'none';
        }
    };
    xhr.send();
}

    function findingLikedUsers() {
    var videoId = /*[[${video.videoId}]]*/ '';
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/user/likedUsers/' + videoId, true);
    xhr.onload = function () {
            if (xhr.status === 200) {
                var userList = JSON.parse(xhr.responseText);
                var list = document.getElementById('likedUsers');
                list.innerText = '';
                    if(userList.length === 0){
                        var user = document.createElement('li');
                        user.innerText = 'No user have';
                        list.appendChild(user);
                    }
                    for(var i in userList){
                        var user = document.createElement('li');
                        user.innerText = userList[i].username;
                        list.appendChild(user);
                    }
                    document.getElementById('likedUsers').style.display = 'block';
                    document.getElementById('dislikedUsers').style.display = 'none';
            }
        };
        xhr.send();
}

    function findingDislikedUsers() {
    var videoId = /*[[${video.videoId}]]*/ '';
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/user/dislikedUsers/' + videoId, true);
    xhr.onload = function () {
            if (xhr.status === 200) {
                var userList = JSON.parse(xhr.responseText);
                var list = document.getElementById('dislikedUsers');
                list.innerText = '';
                    if(userList.length === 0){
                        var user = document.createElement('li');
                        user.innerText = 'No user have';
                        list.appendChild(user);
                    }
                    for(var i in userList){
                        var user = document.createElement('li');
                        user.innerText = userList[i].username;
                        list.appendChild(user);
                    }
                    document.getElementById('dislikedUsers').style.display = 'block';
                    document.getElementById('likedUsers').style.display = 'none';
            }
        };
        xhr.send();
}

</script>

</body>
</html>
